body {
    font-family: "Helvetica", "Arial", "Sans-Serif";
    margin: 60px auto;
    width: 70%;
}

nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #C1C8E4;
}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #5AB9EA;
    font-size: 3em;
}

h2 {
    color: #84CEEB;
}

p {
    font-family
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}