html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: rgb(33, 37, 47);
    font-weight: bold;
    text-decoration: none;
}

body {
    font-family: "Helvetica", "Arial", "Sans-Serif";
    margin: 0;
    padding: 0;
}

header {
    color: #305F89;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 0;
    position: relative;
}

h1 span {
    position: absolute;
    top: -140px;
}

h2 {
    color: rgb(33, 37, 47);
}

p, ul {
    color: rgb(33, 37, 47);
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
    padding-bottom: 10px;
}

section {
    padding-bottom: 84px;
}

section:before {
    height: 84px;
    content: "";
    display: block;
}

/*******
Classes
*******/

.fa-fw {
    color: #69C8F4;
}

.highlight-hover a:hover {
    background-color: #59ABD1;
    color: rgb(33, 37, 47);
    transition: background-color 0.3s, color 0.3s;
}

.centered {
    text-align: center;
}

.nav-name {
    color: white;
    display: flex;
    font-size: 2em;
    margin: auto 16px;
    text-decoration: none;
}

.navbar {
    align-items: center;
    background-color: #69C8F4;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar-toggle {
    display: none;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li a {
    color: white;
    display: block;
    font-size: 1em;
    height: 100%;
    line-height: 0.8;
    padding: 22px 16px;
    text-align: center;
    text-decoration: none;
}

.row {
    display: flex;
    margin: 40px auto 0px;
}

.project-row {
    display: flex;
    align-items: center;
    margin: 40px auto 0px;
}

.desc-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 15%;
}

.desc-text h2,h3 {
    margin: 0px 0px 10px;
}

.project-image {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(209, 238, 250);
    border: 1px solid rgb(33, 37, 47);
    border-radius: 50%;
    margin-left: 15%;
    height: 167px;
    width: 250px;
}

.work-row {
    display: flex;
    align-items: center;
    margin: 40px auto 0px;
}

.work-image {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 243, 244);
    border: 1px solid rgb(33, 37, 47);
    border-radius: 25%;
    margin-left: 15%;
    height: 167px;
    width: 250px;
}

.show-button {
    align-self: flex-start;
    background: none;
    border: none;
    color: rgb(124, 126, 133);
    cursor: pointer;
    display: none;
    font: inherit;
    padding: 0;
}

.show-button:hover {
    text-decoration: underline;
}

.inner {
    color: rgb(180, 180, 180);
    text-align: center;
}

/***
IDs
***/
#Home {
    background-color: rgb(244, 243, 244);
}

#about-sect {
    background-color: #DCF1F2;
}

#experience-sect {
    background-color: #BFE2EF;
}

#projects-sect {
    background-color: #97D9EF;
}

#abouttext {
    margin: 0% 20%;
    text-align: left;
}

#headshot {
    border-radius: 50%;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 15em;
    width: 15em;
}

#greeting {
    color: rgb(33, 37, 47);
    font-size: 3em;
    margin: auto 5%;
}

#contact {
    font-size: 1.5em;
}

#resume-button {
    background-color: rgb(209, 238, 250);
    border: 2px ridge rgb(162, 165, 175);
    border-radius: 15px;
    color: rgb(75, 75, 75);
    display: inline-block;
    padding: 20px 50px;
}

#resume-button:hover {
    background-color: rgb(183, 211, 255);
    transition: background-color 0.3s;
}

#sdsc {
    height: auto;
    width: 100%;
}

#hechanbot {
    height: auto;
    width: 100%;
}

#bobabit {
    height: auto;
    width: 80%;
}

#avoidthebugs {
    height: auto;
    width: 95%;
}

#footer {
    background-color: rgb(244, 243, 244);
    padding: 20px;
}

/*************
Media Queries
*************/

@media only screen and (max-width: 1140px) {
    .project-image {
        margin-left: 11%;
    }

    .work-image {
        margin-left: 11%;
    }

    .desc-text {
        margin-right: 11%;
    }
}

@media only screen and (max-width: 1040px) {
    .project-image {
        margin-left: 7%;
    }

    .work-image {
        margin-left: 7%;
    }

    .desc-text {
        margin-right: 7%;
    }
}

@media only screen and (max-width: 940px) {
    .project-image {
        margin-left: 3%;
    }

    .work-image {
        margin-left: 3%;
    }

    .desc-text {
        margin-right: 3%;
    }
}

@media only screen and (max-width: 840px) {
    .project-image {
        margin-left: 1%;
    }

    .work-image {
        margin-left: 1%;
    }

    .desc-text {
        margin-right: 1%;
    }
}

@media only screen and (max-width: 740px) {
    .project-image {
        margin: 10px 33%;
    }

    .work-image {
        margin: 10px 33%;
    }

    .desc-text {
        margin-left: 1%;
    }

    .project-row {
        flex-direction: column;
    }

    .work-row {
        flex-direction: column;
    }

    .navbar, .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav, .main-nav li {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .nav-name {
        margin: 14px 16px;
    }

    .navbar-toggle {
        align-self: flex-end;
        color: white;
        cursor: pointer;
        display: initial;
        position: absolute;
        top: 8px;
        right: 15px;
    }

    .navbar-show {
        display: flex;
    }
}

@media only screen and (max-width: 640px) {
    #headshot {
        height: 12em;
        width: 12em;
    }

    #greeting {
        font-size: 2em;
    }

    #contact {
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 540px) {
    .show-button {
        display: initial;
    }

    .fulltext {
        display: none;
    }

    .expand-text {
        display: initial;
    }

    .contact-text {
        display: none;
    }

    #contact {
        font-size: 3em;
    }
}