html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-decoration: none;
}

body {
    font-family: "Helvetica", "Arial", "Sans-Serif";
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(233, 252, 250);
    border-top: 1px solid rgb(193, 200, 228);
    border-bottom: 1px solid rgb(193, 200, 228);
}

h2 {
    color: rgb(90, 185, 234);
    font-size: 2em;
    text-align: center;
}

h3 {
    color: rgb(51, 51, 51);
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

nav ul li {
    float: right;
}

nav ul li a {
    color: rgb(193, 200, 228);
    display: block;
    font-size: 2em;
    padding: 14px 16px;
    text-decoration: none;
}

p {
    color: rgb(100, 100, 100);
    font-weight: bold;
    line-height: 1.4em;
}

.highlight-hover a:hover {
    background-color: rgb(146, 205, 209);
    color: rgb(51, 51, 51);
}

.centered {
    text-align: center;
}

.nav-name {
    float: left;
}

.nav-name a {
    color: rgb(86, 128, 233);
    font-size: 2em;
    text-decoration: none;
}

#headshot {
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    height: 15em;
    width: 15em;
}

#resume-button {
    background-color: rgb(233, 252, 250);
    border: 1px solid rgb(193, 200, 228);
    display: inline-block;
    padding: 20px 50px;
}

#left-col {
    border-right: 1px solid rgb(193, 200, 228);
    float: left;
    margin-right: -1px;
    padding: 10px;
    width: 60%;
}

#right-col {
    float: right;
    padding: 10px;
    width: 40%;
}