@font-face {
    font-family: 'DM Sans';
    src: url(DMSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1.1em;
}

figcaption {
    color: gray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.body {
    grid-column: 2 / span 1;
}

.interview-grid {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 1.2em;
}

.parallax {
    background-image: url('img/watchlyoverview.png');
    grid-column: 1 / span 3;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax img {
    display: block;
    visibility: hidden;
    width: 90%;
    height: auto;
}

.persona {
    display: flex;
    align-items: center;
}

.persona-img {
    height: auto;
    width: 10vh;
    margin: 1vw;
}

.storyboard-img {
    height: auto;
    width: 50vw;
}

.paper-img {
    height: auto;
    width: 50vw;
}

.figma-img {
    height: auto;
    width: 50vw;
}

.watchly-img {
    height: auto;
    width: 50vw;
}

.code-link {
    font-style: italic;
    color: gray;
}