<!-- Experience Modals -->
{% for experience in site.experiences %}
<div class="portfolio-modal modal fade" id="experienceModal-{{ experience.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>{{ experience.position }}</h3>
                        <hr class="star-primary">
                        <h3>{{ experience.title }}</h3>
                        {% if experience.project-date %}
                        <h4>{{ experience.project-date }}</h4>
                        {% endif %}
                        <img src="img/experiences/{{ experience.img }}" class="img-centered modal-img" alt="{{ experience.alt }}" height="150">
                        <div class="modal-text">
                            {{ experience.content }}
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Project Modals -->
{% for project in site.projects %}
<div class="portfolio-modal modal fade" id="projectModal-{{ project.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>{{ project.title }}</h3>
                        <hr class="star-primary">
                        {% if project.project-date %}
                        <h4>{{ project.project-date }}</h4>
                        {% endif %}
                        <img src="img/projects/{{ project.img }}" class="img-centered modal-img" alt="{{ project.alt }}" height="150">
                        <div class="modal-text">
                            {{ project.content }}
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}