<!DOCTYPE html>
<html>

<head>
  <title>Henry Chan - {{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <script src="https://kit.fontawesome.com/1d9564b77d.js"></script>
</head>

<body>
  <nav>
    <ul>
      <li class="highlight-hover"><a href="/projects/projects.html">Projects</a></li>
      <li class="highlight-hover"><a href="/about/about.html">About</a></li>
      <li class="highlight-hover"><a href="/">Home</a></li>
      <li class="nav-name"><a href="/">Henry Chan</a></li>
    </ul>
  </nav>
  <header>
    <h2>{{ page.title }}</h2>
  </header>
  {{ content }}
</body>

</html>